<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Welcome</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
	</head>
	<body onload="load_design()">
		<div class="nav navbar navbar-default navbar-fixed-top">
			<ul class="nav navbar-nav">
				<li><a href="{$url_base}">Accueil</a></li>
				<li><a href="{$url_base}Ville/liste">Ville </a></li>
				<li><a href="{$url_base}Ville/liste">Pays </a></li>

				<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
				<!--li><a href="{$url_base}">Accueil</a></li>
				<li><a href="{$url_base}Test/index">Menu test page </a></li>
				<li><a href="{$url_base}Test/getID/1">Menu test get id page </a></li>
				<li><a href="{$url_base}Test/liste">Menu test list page </a></li>
				<li><a href="{$url_base}Upload/index">upload file </a></li>
				<li><a href="{$url_base}PdfGenerator/generate">Samane Generate pdf file </a></li>
				<li><a href="{$url_base}ExcelGenerator/generate">Samane Generate excel file </a></li>
				<li><a href="{$url_base}ExcelGenerator/read">Samane read excel file </a></li>
				<li><a href="{$url_base}Email/sendMail">Samane Mailing </a></li-->
			</ul>
		</div>

	</body>
</html>
